// Сброс списков
.list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

// .margin-collapse()
.margin-collapse() {
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

// Контейнер по viewport
.container() {
  display: block;
  width: @container-sm;
  margin: 0 auto;
  padding: 0 @gap-sm;

  @media (min-width: @screen-md) {
    width: @container-md;
    padding: 0;
  }

  @media (min-width: @screen-lg) {
    width: @container-lg;
  }
}

// Сброс контейнера
.container-reset() {
  width: auto;
  margin: 0;
}

// Сброс отступов контейнера-родителя
.row() {
  margin: 0 -@gap-sm;

  @media (min-width: @screen-md) {
    margin: 0;
  }
}

.row(@last-screen) when (@last-screen = md) {
  margin: 0 -@gap-sm;

  @media (min-width: @screen-md) {
    margin: 0 -@gap-md;
  }

  @media (min-width: @screen-lg) {
    margin: 0;
  }
}
