html {
  box-sizing: border-box;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  position: relative;
  min-width: @screen-sm;

  font-size: @font-size;
  line-height: @line-height;
  font-style: normal;
  font-family: @font-family;

  color: @text-color;
  background: @bg-color;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  position: relative;

  color: @link-color;
  text-decoration: none;
  vertical-align: baseline;

  &::after {
    content: "";
    position: absolute;
    left: 0; right: 0;
    bottom: 3px;

    height: 1px;
    background: @link-line-color;
  }

  &:hover {
    color: @link-color--hover;

    &::after {
      background-color: @link-color--hover;
    }
  }

  &:active {
    color: @link-color--active;

    &::after {
      background-color: @link-color--active;
    }
  }

}

.visually-hidden {
  display: none; /* TODO: Сетка */
}










/* TODO: Сетка */

@keyframes appearance {
    0% {
      opacity: 0;
      // top: 0;
    }
    100% {
      opacity: 1;
      // top: -100px;
    }
}

body {
  // .body-bg();
  // .body-bg(index,"-nav");
  // .body-bg(index,"-modal");
  // animation: appearance 1s;
  padding-bottom: 1000px;
}

.catalog-page {
  .body-bg("catalog"); /* TODO: Сетка */
}

.order-page {
  .body-bg("form"); /* TODO: Сетка */
}

// .page-header,
// .page-footer,
// .page-main,
// .page-main__title,
// .page-main__intro,
// .page-hero,
// .featured-product,
// .advantages,
// .reviews,
// .contacts,
.catalog,
.promo,
// .form,
// .modal,
.test {
  .outline(-1, 1, @bg-gray);
}

/* Index Page */


.page-header {
  // .outline-grid(4);
  // position: relative;
}

.main-nav {
  // .outline-grid(3);
  // position: relative;
  // animation: appearance 0.7s;
}

.page-hero {
  // .outline-grid(4);
}

.featured-product {
  // .outline-grid(5);
}

.advantages {
  // .outline-grid(4);
}

.reviews {
  // .outline-grid(5);
}

.contacts {
  // .outline-grid(4);
}

.page-footer {
  // .outline-grid(3);
}

.modal {
  // .outline-grid(3);
}

.page-main {
  // .outline-grid(3, -1, -1, -1);
}


.form {
  // .outline-grid(3);
}


// .page-header,
// .page-main__header,
// .featured-product,
// .advantages,
// .reviews,
// .contacts,
// .page-footer,
// .modal,
.test {
  display: none;
  // .outline-grid();
}
/* EO TODO: Сетка */
