html {
  box-sizing: border-box;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  min-width: @screen-sm;

  font-size: @font-size;
  line-height: @line-height;
  font-style: normal;
  font-family: @font-family;

  color: @text-color;
  background: @bg-color;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  position: relative;

  color: @link-color;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    left: 0; right: 0;
    bottom: 3px;

    height: 1px;
    background: @link-line-color;
  }

  &:hover {
    color: @link-color--hover;

    &::after {
      background-color: @link-color--hover;
    }
  }

  &:active {
    color: @link-color--active;

    &::after {
      background-color: @link-color--active;
    }
  }

}

.visually-hiddden {
  display: none; /* TODO: Сетка */
}


.btn {
  display: inline-block;

  min-height: 52px; /* TODO: Сетка */

  &--full-width {
    width: 100%;
  }
}

























/* TODO: Сетка */

body {
  .body-bg(); /* TODO: Сетка */
  // .body-bg(index,"-nav"); /* TODO: Сетка */
}

.page-header,
.leading-header,
.featured-product,
.advantages,
// .reviews,
.test {
  .outline(-1);
}

.page-header {
  // .outline-grid(4);
}

.leading-header {
  // .outline-grid(4);
}

.featured-product {
  // .outline-grid(5);
}

.advantages {
  // .outline-grid(4);
}

.reviews {
  .outline-grid(5);
}



// .page-header,
// .page-main__header,
// .featured-product,
// .advantages,
// .reviews,
.contacts,
.page-footer,
.modal {
  display: none;
  // .outline-grid();
}
/* EO TODO: Сетка */
