// Кнопки
@btn-height:       52px;
@btn-line-height:  20px;
@btn-border-width: 2px;
@btn-padding-x:    40px;
@btn-padding-y:    (@btn-height - @btn-line-height - @btn-border-width * 2) / 2;

.btn {
  display: inline-block;

  padding: @btn-padding-y @btn-padding-x;

  font: inherit;
  font-size: 17px;
  line-height: @btn-line-height;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  color: @text-color;
  background: none;
  border: @btn-border-width solid @text-color;

  &::after {
    display: none;
  }

  &:hover {
    color: @color-white;
    background-color: @text-color;
  }

  &:checked,
  &:active {
    color: fade(@color-white, 30%);
    background-color: @text-color;
  }

  &--full-width {
    width: 100%;
    text-align: center;
  }

  &--primary {
    color: @color-white;
    background-color: @color-main--light;
    border-color: @color-main--light;

    &:hover {
      color: @color-white;
      background-color: @color-main;
      border-color: @color-main;
    }

    &:active {
      color: fade(@color-white, 30%);
      background-color: @color-main--light;
      border-color: @color-main--light;
    }
  }
}

// Радио-кнопки (переключатели)
.radio-btn {
  @block: ~".radio-btn";
  @btn-line-height:  16px;
  @btn-padding-y:    (@btn-height - @btn-line-height - @btn-border-width * 2) / 2;
  @btn-padding-x:    (@btn-padding-y + 5px);

  position: relative;

  &__input {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0; left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;

    &:hover ~ @{block}__text {
      color: @text-color;
      background-color: transparent;
      border-color: fade(@text-color, 30%);
    }

    &:active ~ @{block}__text,
    &:checked ~ @{block}__text {
      color: @text-color;
      background-color: transparent;
      border-color: @color-main--light;
    }
  }

  &__text {
    display: block;
    position: relative;
    z-index: 0;

    padding: @btn-padding-y @btn-padding-x;

    font: inherit;
    font-size: 17px;
    line-height: @btn-line-height;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    color: @text-color;
    background: @color-white;
    border: @btn-border-width solid fade(@text-color, 10%);
  }
}

// Форма
.form {

  &, &:last-child {
    margin-bottom: 55px;
  }

  &__fieldset {
    padding: 0;
    margin: 0 0 31px;
    border: none;

    /* TODO: Сетка */
    // .outline-grid(3);

    &:nth-of-type(1) .form__field { min-height: 99px; }
    &:nth-of-type(2) .form__field { min-height: 345px; }
    &:nth-of-type(3) .form__field { min-height: 258px; }
    &:nth-of-type(4) .form__field { min-height: 52px; }
    &:nth-of-type(5) .form__field { min-height: 142px; }
    /* TODO: EO Сетка */
  }

  &__fields-wrapper {

    & + & {
      margin-top: 31px;
    }
  }

  &__title {
    display: block;
    min-height: 17px; /* TODO: Сетка */
    margin: 0 0 24px;

    // font-size: 17px;
    // line-height: 17px;
    // offset: 2.55;

    &--low {
      margin-bottom: 7px;
    }
  }

  &__field {
    display: block;
  }

  &__footer {
    // .outline-grid(3);
  }

  &__notice {
    min-height: 16px; /* TODO: Сетка */
    margin: 15px 0 31px;
    // margin: 15px 0 31px;

    // font-size: 14px;
    // line-height: 16px;
    // offset: 3.1px;

    &--bottom {
      margin: -15px 0 31px;
    }
  }

  &__submit {

    &:only-child { width: 100%; }
  }


  @media (min-width: @screen-md) {

    &__fieldset {
      padding: 50px @gap-md;
      margin: 0 -@gap-md;

      &:first-child {
        margin-top: -50px;
      }

      /* TODO: Сетка */
      &:nth-of-type(1) .form__field { min-height: 128px; }
      &:nth-of-type(2) .form__field { min-height: 205px; }
      &:nth-of-type(3) .form__field { min-height: 205px; }
      &:nth-of-type(4) .form__field { min-height: 52px; }
      &:nth-of-type(5) .form__field { min-height: 142px; }
      /* TODO: EO Сетка */
    }

    &--responsive & {

      &__fields-wrapper {
        display: flex;

        &:not(:first-of-type) { margin-top: 24px; }
      }

      &__title {
        width: @col-md * 1;
      }

      &__field {
        width: @col-md * 3;
      }

      &__footer {
        display: flex;
      }

      &__actions {
        order: 1;
        width: @col-md * 2;
      }

      &__notice--bottom {
        order: 2;
        width: @col-md * 2;
        margin: 0;
      }
    }
  }

  @media (min-width: @screen-lg) {

    &__fieldset {

      /* TODO: Сетка */
      &:nth-of-type(1) .form__field { min-height: 128px; }
      &:nth-of-type(2) .form__field { min-height: 128px; }
      &:nth-of-type(3) .form__field { min-height: 205px; }
      &:nth-of-type(4) .form__field { min-height: 52px; }
      &:nth-of-type(5) .form__field { min-height: 142px; }
      /* TODO: EO Сетка */
    }
  }
}
