.advantages {
  padding-top: 30px;
  padding-bottom: 29px;

  &__inner {
    .container();
  }

  &__title {
    margin: 0 0 30px;

    font-size: 25px;
    font-weight: normal;
  }

  &__list {
    .list-reset();
    margin-bottom: -30px;
  }

  &__item {
    position: relative;

    padding-top: 55px;
    margin-bottom: 30px;

    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
  }

  &__icon {
    position: absolute;
    top: 0; left: 0;

    fill: @color-main--light;
  }

  @media (min-width: @screen-md) {
    padding-top: 52px;
    padding-bottom: 80px;

    &__title {
      margin-bottom: 45px;

      font-size: 43px;
      line-height: 50px;
      font-weight: bold;
    }

    &__list {
      // display: flex;
      // flex-wrap: wrap;
      column-count: 2;
      margin-bottom: -54px;
    }

    &__item {
      // width: 50%;
      padding-top: 54px;
      padding-right: 30px;
      margin-bottom: 54px;

      font-size: 20px;
      line-height: 22px;
    }
  }

  @media (min-width: @screen-lg) {
    padding-top: 63px;
    padding-bottom: 87px;

    &__inner {
      padding: 0 @col-lg;
    }

    &__title {
      margin-bottom: 39px;

      font-size: 53px;
      line-height: 57px;
    }
  }

}
