.contacts {
  padding: 35px 0px 39px;

  &__inner {
    .container();
  }

  &__title {
    margin: 0 0 26px;

    font-size: 18px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0 0 36px;
  }

  &__name {
    width: 80px;
    padding: 0;
    padding-right: 10px;
  }

  &__value {
    width: 180px;
    margin: 0 0 30px;

    &:last-child { margin-bottom: 0; }
  }

  &__map {
    margin: 0 -@gap-sm 40px;

    img {
      display: block;
    }
  }

  &__write {
    width: 100%;
    text-align: center;
  }

  @media (min-width: @screen-md) {
    padding: 61px 0 57px;

    &__inner { text-align: center; }

    &__content {
      position: relative;
      text-align: left;

      &::before {
        content: '';
        position: absolute;
        top: -15px; right: 0;

        width: 47px;
        height: 81px;

        background: url(../img/icon-flag.svg) 0 0 no-repeat;
      }
    }

    &__title {
      padding-right: @col-md;
      margin-bottom: 48px;

      font-size: 43px;
      line-height: 50px;
    }

    &__list {
      margin-bottom: 56px;

      font-size: 17px;
      line-height: 30px;
    }

    &__map {
      min-height: 457px; /* TODO: Сетка */
      margin: 0 -@gap-md 55px;

      /* TODO: Картинки */
      > img {
        width: 768px;
        height: 457px;
      }
      /* EO TODO: Картинки */
    }

    &__write { width: auto; }
  }

  @media (min-width: @screen-lg) {
    padding: 71px 0 105px;

    &__inner {
      display: flex;
      position: relative;
    }

    &__map {
      width: 50%;
      margin: 0;

      /* TODO: Картинки */
      img {
        width: 525px;
        height: 457px;
      }
      /* EO TODO: Картинки */
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;

      width: 50%;
      padding: 72px 0 0;
      padding-left: @col-lg;
      padding-right: @gap-lg;

      &::before {
        top: 65px;
        left: 65px;
        right: 0;
      }

      /* Place for Write btn */
      &::after {
        content: '';
        display: block;
        height: @btn-height;
      }
    }

    &__title {
      padding: 0;
      margin-bottom: 46px;

      font-size: 53px;
      line-height: 57px;
    }


    &__list {
      margin-bottom: 79px;

      font-size: 17px;
      line-height: 30px;
    }

    &__name { width: 75px; }
    &__value { width: 225px; }

    &__write {
      position: absolute;
      bottom: 0; left: @col-lg;
    }
  }
}
