.featured-product {
  @specs-padding: 10px 15px;
  @specs-border: 1px solid @color-gray--lightest;

  padding-top: 35px;
  padding-bottom: 40px;

  &__inner {
    .container();
  }

// Title
  &__title {
    margin: 0 0 30px;
  }

  &__name {
    display: block;

    margin: 0 0 10px;

    color: @heading-color;
    font-size: 25px;
    line-height: 30px;
  }

  &__badge {
    display: block;

    color: @color-main--light;
    font-size: 17px;
    line-height: 20px;
    font-style: normal;
    text-transform: uppercase;

    br { display: none; }
  }

// Content
  &__desc {
    margin: 0 0 27px;
    line-height: 24px;
  }

  &__specs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 27px;

    font-size: 15px;
    line-height: 20px;
  }

  &__specs-name {
    width: 85px;
    padding: @specs-padding;
    padding-left: 0;
    margin: 0;

    border-bottom: @specs-border;
  }

  &__specs-value {
    width: 175px;
    padding: @specs-padding;
    margin: 0;

    border-bottom: @specs-border;
  }

  &__image {
    margin: 0 0 27px;

    img { display: block; }
  }

  &__order { margin: 0; }

  &__order-price {
    display: block;

    margin-bottom: 30px;

    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
  }

  @media (min-width: @screen-md) {
    @content-left:   50%;
    @content-right:  50%;
    @content-gap:    45px;
    @image-height:   404px;

    padding-top: 50px;
    padding-bottom: 70px;

  // Title
    &__title {
      position: relative;

      padding-right: @col-md;
      margin-bottom: 60px;
    }

    &__name {
      display: block;
      margin: 0;

      font-size: 43px;
      line-height: 50px;
    }

    &__badge {
      position: absolute;
      top: 50%;
      right: 25px;
      transform: translateY(-50%);

      margin: auto;
      text-align: center;

      br { display: inline; }
    }

  // Content
    &__content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;

      height: @image-height;
    }

    &__desc {
      order: 1;

      width: @content-left;
      padding-right: @content-gap;

      font-size: 17px;
    }

    &__specs {
      order: 2;

      width: @content-left;
      padding-right: @content-gap;
    }

    &__order {
      order: 3;

      width: @content-left;
      padding-right: @content-gap;
    }

    &__order-price { font-size: 20px; }

    &__image {
      order: 4;

      width: @content-right;
      margin: 0;

      height: 100%;

      /* TODO: Картинки */
      img {
        width: 100%;
        height: 100%;
      }
      /* EO TODO: Картинки */
    }

  }

  @media (min-width: @screen-lg) {
    @title-width:     @col-lg * 5;
    @content-offset:  @col-lg;
    @content-gap:     60px;
    @content-height:  470px;
    @image-offset:    165px;

    padding-top: 70px;
    padding-bottom: 95px;

  // Title
    &__title {
      z-index: 10;

      width: @title-width;
      padding: 0;
      padding-left: @content-offset;
      margin: 60px 0 65px;
    }

    &__name {
      display: block;

      font-size: 53px;
      line-height: 57px;
    }

    &__badge {
      right: auto; left: 0;
      width: @content-offset;
    }

  // Content
    &__content { height: @content-height; }

    &__desc {
      padding-left: @content-offset;
      padding-right: @content-gap;
    }

    &__specs {
      padding-left: @content-offset;
      padding-right: @content-gap;
    }

    &__order {
      padding-left: @content-offset;
      padding-right: @content-gap;
    }

    &__image {
      height: @content-height + @image-offset; /* TODO: Картинки */
      margin-top: -@image-offset;
    }
  }
}
