.featured-product {

  .btn { min-height: 52px; } /* TODO: Сетка */

  &__inner {
    .container();

    padding-top: 35px;
    padding-bottom: 40px;
  }

// Title
  &__title {
    margin: 0 0 30px;
  }

  &__name {
    display: block;
    min-height: 20px; /* TODO: Сетка */
    margin: 0 0 10px;
  }

  &__badge {
    display: block;
    min-height: 18px; /* TODO: Сетка */
  }

// Content
  &__desc {
    min-height: 65px; /* TODO: Сетка */
    margin: 0 0 27px;
  }

  &__specs {
    min-height: 110px; /* TODO: Сетка */
    margin: 0 0 27px;

    > * { display: none; } /* TODO: Сетка */
  }

  &__image {
    min-height: 315px; /* TODO: Сетка */
    margin: 0 0 27px;
  }

  &__price {
    margin: 0;

    &-value {
      display: block;
      min-height: 21px; /* TODO: Сетка */
      margin-bottom: 30px;
    }
  }

  @media (min-width: @screen-md) {

    &__inner {
      padding-top: 50px;
      padding-bottom: 70px;
    }

  // Title
    &__title {
      position: relative;

      // width: 100%;
      padding-right: 25%;
      margin-bottom: 60px;
    }

    &__name {
      display: block;
      min-height: 40px; /* TODO: Сетка */
      margin: 0;
    }

    &__badge {
      position: absolute;
      bottom: 0; right: 25px;
      min-width: 72px; /* TODO: Сетка */
      min-height: 40px; /* TODO: Сетка */

      &::before { display: none; } /* TODO: Сетка */
    }

  // Content
    &__content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;

      height: 404px;
    }

    &__desc {
      order: 1;
      width: 50%;
      min-height: 80px; /* TODO: Сетка */
      padding-right: 45px;
    }

    &__specs {
      order: 2;

      width: 50%;
      min-height: 120px; /* TODO: Сетка */
      padding-right: 45px;
    }

    &__price {
      order: 3;

      width: 50%;
      padding-right: 45px;

      &-value {
        min-height: 21px; /* TODO: Сетка */
      }
    }

    &__image {
      order: 4;

      width: 50%;
      margin: 0;

      height: 100%;

      img { display: none; } /* TODO: Сетка */
    }

  }

  @media (min-width: @screen-lg) {
    &__inner {
      padding-top: 70px;
      padding-bottom: 95px;
    }

  // Title
    &__title {
      width: 700px;
      padding: 0;
      padding-left: 175px;
      margin: 60px 0 65px;
    }

    &__name {
      display: block;
      min-height: 42px; /* TODO: Сетка */
    }

    &__badge {
      right: auto; left: 0;
      width: 175px;
      min-height: 42px; /* TODO: Сетка */

      &::before { display: none; } /* TODO: Сетка */
    }

  // Content
    &__content {
      height: 470px;
      padding-left: 175px;
    }

    &__desc {
      min-height: 80px; /* TODO: Сетка */
      padding-right: 60px;
    }

    &__specs {
      width: 50%;
      min-height: 125px; /* TODO: Сетка */
      padding-right: 60px;
    }

    &__price {
      width: 50%;
      padding-right: 60px;

      &-value {
        min-height: 16px; /* TODO: Сетка */
      }
    }

    &__image {
      height: 635px;
      margin-top: -165px;
    }
  }
}
