.main-nav {
  @block: ~".main-nav";
  @icon-color: @color-gray--darker;
  @icon-color--hover: @color-aquamarine--light;
  @border-color: @border-gray;
  @top-item-gap: 32px;
  @bottom-item-gap: 18px 0 10px;

  .container();
  position: relative;

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 22px 0;
  }

  // Стилизовано для @screen-sm-max
  &__toggle { display: none; }

  &__notice { display: none; }

  &__items {

    &:first-of-type { border-top: 1px solid transparent; }

    &--extra { display: none; }
  }

  &__list {
    .list-reset();
    .row();
  }

  &__item {
    display: block;
  }

  &__link {
    display: block;

    padding: 27px 50px;
    padding-left: 75px;
    margin: 0 -1px;

    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    text-decoration: none;

    color: @color-black;
    background: @color-white;

    border: 1px solid @border-color;
    border-width: 0 1px 1px;

    &::after { display: none; }

    &:hover @{block}__link-icon {
      fill: @icon-color--hover;
      opacity: 1;
    }

    &:active @{block}__link-icon {
      fill: @icon-color--hover;
      opacity: 0.3;
    }
  }

  &__link-icon {
    position: absolute;
    top: 50%; left: @gap-sm;
    transform: translateY(-50%);

    background-repeat: no-repeat;
    fill: @icon-color;
    opacity: 0.2;
  }


  @media (max-width: @screen-sm-max) {
    @toggle-gap: 5px;

    &__toggle {
      display: block;
      box-sizing: content-box;
      position: relative;

      width: 21px;
      height: 20px;
      padding: @toggle-gap;
      margin-left: -21px;

      text-indent: -1000px;
      overflow: hidden;

      background: none;
      border: none;

      &:hover { opacity: 0.6; }
      &:active { opacity: 0.3; }
    }

    &--closed {

      @{block}__list {
        display: none;
        clear: both;
        float: left;

        width: 100%;
      }

      @{block}__toggle {

        &::after {
          content: "";
          display: block;
          position: absolute;
          left: 0 + @toggle-gap;
          right: 0 + @toggle-gap;
          top: 3px + @toggle-gap;

          height: 2px;
          background-color: @icon-color;

          box-shadow:
            0 6px 0 @icon-color,
            0 12px 0 @icon-color;
        }
      }
    }

    &--opened {

      @{block}__list {

        &--site,
        &--user {
          display: block;
        }
      }

      @{block}__toggle {

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%; left: @toggle-gap - 3px;

          width: 100%;

          width: 28px;
          height: 2px;

          background: @icon-color;
        }

        &::before { transform: translateY(-50%) rotate(45deg); }
        &::after { transform: translateY(-50%) rotate(-45deg); }
      }
    }

    .no-js {
      @{block}__toggle { display: none; }

      @{block}__list {
        &--site,
        &--user {
          display: block;
          float: none;
        }
      }
    }
  }

  @media (min-width: @screen-md) {
    .container();

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    &__logo {
      display: block;
      order: 1;

      width: @col-md;
      padding: 0;
      margin: 0;

      /* TODO: Картинки */
      img {
        width: 113px;
        height: 46px;
      }
      /* EO TODO: Картинки */
    }

    &__notice {
      display: block;
      position: absolute;
      top: 100%; right: 0;

      width: 265px;
      margin: @bottom-item-gap;
    }

    &__items {
      .container-reset();

      float: none;
      left: 0;
      transform: none;

      &--user {
        order: 2;
        width: 350px;

        @{block}__item:last-child { padding-right: 0; }
        @{block}__list { justify-content: flex-end; }
      }

      &--site {
        display: block;
        position: absolute;
        top: 100%; left: 0;

        width: 334px;

        @{block}__item {
          padding: @bottom-item-gap;
          padding-right: 37px;
          border-width: 0;
        }

        @{block}__item:last-child { padding-right: 0; }

        @{block}__link {
          font-size: 15px;
          background: none;
        }
      }
    }

    &__list {
      display: flex;
    }

    &__item {
      display: flex;
      margin: 0;
      padding: @top-item-gap;

      border-left: 1px solid @border-color;

      &--search {
        @{block}__link-text { display: none; }
      }
    }

    &__link {
      display: flex;
      padding: 0;
      border-width: 0;
    }

    &__link-icon {
      position: static;
      transform: none;
    }

    &__link-text {
      margin-left: 32px;
    }
  }

  @media (min-width: @screen-lg) {

    &__logo {
      order: 2;

      width: 205px;
      padding-right: 55px;

      text-align: center;
    }

    &__items {

      &--site {
        order: 1;
        position: static;
        left: 0;

        width: 410px;

        @{block}__item {
          padding: @top-item-gap;
          border-left-width: 1px;
        }

        @{block}__item:first-child {
          padding-left: 0;
          border-left-width: 0;
        }

        @{block}__item:last-child { padding-right: 0; }

        @{block}__link { font-size: 17px; }
      }

      &--extra {
        display: block;
        position: absolute;
        top: 100%; left: 0;

        width: 354px;
        min-height: 65px; /* TODO: Сетка */

        @{block}__item {
          padding: @bottom-item-gap;
          padding-right: 60px;
          border-width: 0;
        }

        @{block}__item:last-child { padding-right: 0; }

        @{block}__link {
          font-size: 15px;
          background: none;
        }
      }
    }
  }
}
