.order {

  &__content {
    .container-reset();
    padding-bottom: 50px;
  }

  &__intro { margin-top: -8px; }

  &__part {

    &--color {

      span.field-error {
        margin: 10px 0 0;
      }
    }
  }

  @media (min-width: @screen-md) {

    &__part {

      &--color {

        .form__field {
          display: flex;
          flex-wrap: wrap;

          position: relative;

          margin-top: -@label-gap;
        }

        .field-checkbox {
          width: 50%;
          margin-top: @label-gap;
        }

        span.field-error {
          position: absolute;
          bottom: -40px;
          margin: 0;
        }
      }
    }
  }

  @media (min-width: @screen-lg) {

    &__part {

      &--color {

        .field-checkbox {
          width: 33.33333%;
        }
      }
    }
  }
}
