.page-footer {

  &__inner {
    display: flex;
    flex-direction: column;
    .container();
  }

  &__logo { order: 1; }

  &__social {
    order: 2;
    min-height: 81px; /* TODO: Сетка */
  }

  &__copyright {
    order: 3;
    min-height: 81px; /* TODO: Сетка */

    img { display: none; } /* TODO: Сетка */
  }

  @media (max-width: @screen-sm-max) {
    &__logo { display: none; }
  }

  @media (min-width: @screen-md) {

    &__inner {
      flex-direction: row;
      justify-content: space-between;
    }

    &__logo {
      float: left;
      width: @col-md;
      min-height: 143px; /* TODO: Сетка */

      img {
        display: none; /* TODO: Сетка */
      }
    }

    &__social {
      max-width: 300px;
      min-width: 144px; /* TODO: Сетка */
      min-height: 143px; /* TODO: Сетка */
      margin: 0 auto;
    }

    &__copyright {
      float: right;
      max-width: 200px;
      min-width: 182px; /* TODO: Сетка */
      min-height: 143px; /* TODO: Сетка */
      margin-left: -10px;
    }
  }

  @media (min-width: @screen-lg) {

    &__logo {
      width: @col-lg;
    }

    &__social {
      max-width: @col-lg * 2;
    }

    &__copyright {
      min-width: 185px; /* TODO: Сетка */
      margin-left: -5px;
    }
  }
}
