.page-header {
  position: relative;
  z-index: 10;
  border-bottom: 1px solid @border-gray;

  &__logo {
    margin: 0 auto;

    a {
      vertical-align: middle;

      &::after { display: none; }

      img { display: block; }
    }
  }

  &__notice { line-height: 24px; }
}
