.page-header {
  position: relative;
  z-index: 10;

  height: 80px;

  border-bottom: 1px solid @border-gray;

  &__logo {
    vertical-align: middle;

    &::after { display: none; }

    svg { display: block; }
  }

  &__notice { line-height: 24px; }

  @media (min-width: @screen-md) {
    height: auto;
  }
}
