.page-main {

  &__title {
    min-height: 88px; /* TODO: Сетка */
  }

  @media (min-width: @screen-md) {

    &__title {
      min-height: 95px; /* TODO: Сетка */
    }
  }

  @media (min-width: @screen-lg) {

    &__title {
      min-height: 110px; /* TODO: Сетка */
    }
  }
}
