.page-main {

  &__title {
    padding: 70px 0 75px;
    margin: 0;

    font-size: 27px;
    line-height: 30px;
    text-align: center;

    background: @bg-gray--lighter;
  }

  &__title-inner {
    .container();
  }

  &__content {
    .container();
    padding-top: @gap-sm;
    padding-bottom: 58px;

    > *:last-child {
      margin-bottom: 0;
    }

    &--with-form {
      padding-bottom: 55px;
    }
  }

  &__intro {
    margin-top: -8px;

    font-size: 13px;
    line-height: 24px;

    p { margin: 0 0 23px; }
  }

  @media (min-width: @screen-md) {

    &__title {
      padding-top: 95px;
      padding-bottom: 81px;

      font-size: 43px;
      line-height: 50px;
    }

    &__content {
      padding-top: 80px;
      padding-bottom: 63px;

      &--with-form {
        padding-bottom: 50px;
      }
    }

    &__intro {
      margin-top: -9px;
      margin-bottom: 57px;

      font-size: 17px;

      p {
        margin: 0 0 30px;
      }
    }
  }

  @media (min-width: @screen-lg) {

    &__title {
      padding-top: 95px;
      padding-bottom: 101px;

      font-size: 53px;
      line-height: 57px;
    }

    &__content {
      padding-top: 128px;
      padding-bottom: 105px;

      &--with-form {
        padding-bottom: 50px;
      }
    }
  }
}
